<!DOCTYPE html>
<html lang="en">
<% include header %>
<link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
<body>
	<% include navbar %>

	<div class="jumbotron">
		<div class="container">
			<h1>About <small>us</small></h1>
		</div>
	</div>

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Why we started all this...</div>
			<div class="panel-body">
				<p>This website was started as a place to collect together the information we hobbyists need: printer hardware information, part sourcing links, upgrade tutorials, software upgrades, troubleshooting tips, whatever you need.</p>
				<br/><hr width="40%"><br/>
				<p>Email: <a href="mailto:info@Robo.fyi?subject=Robo.fyi%20website">Contact</a><br/></p>
				<p style='font-family: "Carrois Gothic SC", sans-serif; font-size: 200%'>Robo.fyi<br/>
					P.O. Box 70217<br/>
					San Diego, CA 92167
				</p>
				<img src="/images/golden-hill.jpg">
			</div>
		</div>

		<hr>

		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#about').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>