
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-4">
		<h2 onClick='document.location="/hardware#robo-c2";'>Hardware</h2>
		<p style='text-align:justify'>Sourced parts lists, prices, upgrades and dis-assembly instructions</p>
		<p>
			<a class="btn btn-default" href="/hardware#robo-c2" role="button">View details
				&raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2 onClick='document.location="/software#robo-c2";'>Software</h2>
		<p style='text-align:justify'>Overview of included software, layout of Robo-themed OctoPrint/OctoPi, Cura slicing software, C2 Raspberry Pi images</p>
		<p>
			<a class="btn btn-default" href="/software#robo-c2" role="button">View details
				&raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2 onClick='document.location="/troubleshooting#robo-c2";'>Troubleshooting</h2>
		<p style='text-align:justify'>Troubleshooting information, tips and tricks, print quality tuning</p>
		<p>
			<a class="btn btn-default" href="/troubleshooting#robo-c2" role="button">View details
				&raquo;</a>
		</p>
	</div>
</div>