
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-4">
		<h2 onClick='document.location="/hardware#robo-r2";'>Hardware</h2>
		<p style='text-align:justify'>Paragraph</p>
		<p>
			<a class="btn btn-default" href="/hardware#robo-r2" role="button">View details
				&raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2 onClick='document.location="/software#robo-r2";'>Software</h2>
		<p style='text-align:justify'>Paragraph</p>
		<p>
			<a class="btn btn-default" href="/software#robo-r2" role="button">View details
				&raquo;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2 onClick='document.location="/troubleshooting#robo-r2";'>Troubleshooting</h2>
		<p style='text-align:justify'>Paragraph</p>
		<p>
			<a class="btn btn-default" href="/troubleshooting#robo-r2" role="button">View details
				&raquo;</a>
		</p>
	</div>
</div>