<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>Hello, 3D printing world!</h1>
			<p>We print, you print. And sometimes, we modify those printers. Wouldn't it be great to have a place where you can easily source the parts for those upgrades?</p>
			<div id="LearnMore" style="display:none"><p>Since we're 3D printer fanatics, we thought it would be awesome to be able to find in one place a website to source the parts for each printer we love. Explore... and let us know what you'd like to see here.</p></div>
			<div id="LearnLess"><p><a class="btn btn-primary btn-lg" role="button" onClick='document.getElementById("LearnMore").style.display="block";document.getElementById("LearnLess").style.display="none";'>Learn more	&raquo;</a></p></div>
		</div>
	</div>

	<div class="container">
		<% include content %>
		<hr>

		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>