<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1>Robo R1+ Plus</h1>
			<p>The improved R1+ Plus includes all-new linear motion and lead screws for better quality, performance and consistency. Also includes a better filament-feeding system for ease-of-use and an extruder "quick release" for fast change-out. Additional components for leveling, guidance and performance of the R1+ Plus make it the best option for desktop 3D Printing today. At the top of the industry in size of build platform, the R1+ Plus 3D Printer has a 10”x9”x8” build volume and a heated bed.</p>
			<div id="LearnMore" style="display:none"><p>The R1+ Plus ROBO 3D Printer is automatically set to a 9-point leveling system every time it starts a print. Includes a 1-year commercial license for Autodesk Fusion 360 and 6-month parts warranty.</p></div>
			<div id="LearnLess"><p><a class="btn btn-primary btn-lg" role="button" onClick='document.getElementById("LearnMore").style.display="block";document.getElementById("LearnLess").style.display="none";'>Learn more	&raquo;</a></p></div>
		</div>
	</div>

	<div class="container">
		<% include content-robo-r1plus %>
		<hr>

		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>