
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-10">
			<table class="table table-bordered table-hover table-responsive">
				<thead>
					<tr>
						<th>Type</th>
						<th>Vendor</th>
						<th>Description</th>
						<th class="text-center">Price</th>
						<th class="text-center">Get/Buy</th>
						<th>Source</th>
					</tr>
				</thead>
				<tbody>
					<!-- Host -->
					<!--   OctoPrint -->
					<tr>
						<th scope="row" rowspan="4">Host</th>
						<td rowspan="3">OctoPrint</td>
						<td>Host software for 3D printing with full remote control and monitoring</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="http://octoprint.org" target="_blank">Link</a></td>
						<td class="text-center"><a href="https://github.com/foosel/OctoPrint" target="_blank">Github</a></td>
					</tr>
					<tr>
						<td>OctoPrint with adjustments for the Raspberry Pi 3 computer</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://octopi.octoprint.org" target="_blank">Link</a></td>
						<td class="text-center"><a href="https://github.com/guysoft/OctoPi" target="_blank">Github</a></td>
					</tr>
					<tr>
						<td>OctoPrint plugins</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="http://plugins.octoprint.org" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>
					<!--   Robo3D.com -->
					<tr>
						<td rowspan="1">Robo3D</td>
						<td style="background-color:aqua">Robo-specific release of the OctoPrint/OctoPi for the Robo C2 (robo-c2-oob-4gb.zip)</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://drive.google.com/drive/folders/0B32etcQFGrUNUGtOY3VFRUZQVEk" target="_blank">Link</a></td>
						<td class="text-center"><a href="https://github.com/Robo3D/OctoPrint" target="_blank">Github</a></td>
					</tr>
	
					<!-- Client/App -->
					<!--   Robo3D -->
					<tr>
						<th scope="row" rowspan="1">App</th>
						<td rowspan="1">Robo3D</td>
						<td>App for remote-controlling C2/R2 printer (iOS)</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="http://octoprint.org" target="_blank">Link</a></td>
						<td class="text-center"><a href="https://github.com/foosel/OctoPrint" target="_blank">Github</a></td>
					</tr>

					<!-- Slicer -->
					<!--   Cura -->
					<tr>
						<th scope="row" rowspan="5">Slicer</th>
						<td rowspan="2">Robo3D/Cura</td>
						<td style="background-color:aqua">Robo3D's custom fork of Cura's slicing software (STL -> GCODE) - C2/R2</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://robo3d.com/software/" target="_blank">Link</a></td>
						<td class="text-center"><a href="https://github.com/Robo3D/Cura" target="_blank">Github</a></td>
					</tr>
					<tr>
						<td>Slicing and material profiles for the C2/R2 printers</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://github.com/Robo3D/Slicing-Profiles" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>							
					<!--   MatterControl -->
					<tr>
						<td rowspan="1">MatterControl</td>
						<td>Slicing software provided for the R1/R1+ printers</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://robo3d.com/software/" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>							
					<!--   Simplify3D -->
					<tr>
						<td rowspan="2">Simplify3D</td>
						<td>Full-featured slicing software for the C2/R2/R1/R1+ printers</td>
						<td class="text-right">$149.00</td>
						<td class="text-center"><a href="https://www.simplify3d.com" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>							
					<tr>
						<td>Slicing and material profiles for the C2/R2 printers</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://github.com/Robo3D/Slicing-Profiles" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>							

					<!-- Design/CAD -->
					<!--   Autodesk -->
					<tr>
						<th scope="row" rowspan="7">Design/CAD</th>
						<td rowspan="1">Autodesk</td>
						<td style="background-color:aqua">Fusion 360 design software - C2/R2/R1/R1+ (1-year commercial license via Robo3D, use access code: "robo3doffer")</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="http://autodesk.com/fusion-360-promos" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>
					<!--   Blender -->
					<tr>
						<td rowspan="1">Blender</td>
						<td>Blender open-sourced design sofware</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://www.blender.org" target="_blank">Link</a></td>
						<td class="text-center"><a href="https://developer.blender.org/diffusion/B/" target="_blank">Git</a></td>
					</tr>
					<!--   FreeCAD -->
					<tr>
						<td rowspan="1">FreeCAD</td>
						<td>FreeCAD open-sourced design sofware</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://www.freecadweb.org" target="_blank">Link</a></td>
						<td class="text-center"><a href="https://github.com/FreeCAD/FreeCAD" target="_blank">Github</a></td>
					</tr>
					<!--   Sketchup -->
					<tr>
						<td rowspan="3">Sketchup</td>
						<td>Sketchup Pro design sofware ($695 for Pro, $49 for <a href="http://www.creationengine.com/html/p.lasso?p=19699" target="_blank">Student Pro</a>)</td>
						<td class="text-right">$695.00</td>
						<td class="text-center"><a href="https://www.sketchup.com" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Sketchup Make design sofware</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://www.sketchup.com/download/all" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Sketchup STL plugin</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://extensions.sketchup.com/en/content/sketchup-stl" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>
					<!--   TinkerCAD -->
					<tr>
						<td rowspan="1">Autodesk</td>
						<td>TinkerCAD browser-based design sofware</td>
						<td class="text-right">free</td>
						<td class="text-center"><a href="https://www.tinkercad.com" target="_blank">Link</a></td>
						<td class="text-center">N/A</td>
					</tr>

					<!-- Firmware -->
					<!--   Robo3D/Marlin -->
					<tr>
						<th scope="row" rowspan="2">Firmware</th>
						<td rowspan="2">Robo3D/Marlin</td>
						<td>Robo3D's fork of the Marlin (RC branch) firmware, R1/R1+</td>
						<td class="text-right">free</td>
						<td class="text-center">N/A</td>
						<td class="text-center"><a href="https://github.com/Robo3D/Marlin" target="_blank">Github</a></td>
					</tr>
					<tr>
						<td>Robo3D's fork of the Marlin 1.1.0 firmware, C2/R2</td>
						<td class="text-right">free</td>
						<td class="text-center">N/A</td>
						<td class="text-center"><a href="https://github.com/MarlinFirmware/Marlin/releases/tag/1.1.0" target="_blank">Github</a></td>
					</tr>
				</tbody>
			</table>
			<table><tr><td style="background-color:aqua" width="20">&nbsp;</td><td width="5">&nbsp;</td><td>Default software for C2/R2</td></tr></table>
	</div>
</div>