
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-10">
    <a name="robo-c2"></a>
		<h2 onClick='document.location="#";'>Robo C2</h2>
		<p style='text-align:justify'>Paragraph.</p>

    <a name="robo-r2"></a>
		<h2 onClick='document.location="#";'>Robo R2</h2>
		<p style='text-align:justify'>Paragraph.</p>

    <a name="robo-r1plus"></a>
		<h2 onClick='document.location="#";'>Robo R1+ Plus</h2>
		<p style='text-align:justify'>Paragraph.</p>
	</div>
</div>