<!DOCTYPE html>
<html lang="en">
<% include ../views/header %>
<body>
	<% include ../views/navbar %>

	<div class="jumbotron">
		<div class="container">
			<h1>Software</h1>
			<p>"640K ought to be enough for anybody"<br/>~ Bill Gates - 1981</p>
			<div id="LearnMore" style="display:none"><p>Several 3D printer enthusiasts have contributed to this wealth of information. Although we pride ourselves in accuracy, if you do notice a mistake in any of these pages, please contact us and we'll update our database.</p></div>
			<div id="LearnLess"><p><a class="btn btn-primary btn-lg" role="button" onClick='document.getElementById("LearnMore").style.display="block";document.getElementById("LearnLess").style.display="none";'>Learn more	&raquo;</a></p></div>
		</div>
	</div>

	<div class="container">
		<% include content %>
		<hr>

		<% include ../views/footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>