
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-10">
			<table class="table table-bordered table-hover table-responsive">
				<thead>
					<tr>
						<th>Printer</th>
						<th>Subassembly</th>
						<th>Description</th>
						<th class="text-center">Price</th>
						<th class="text-center">Buy</th>
					</tr>
				</thead>
				<tbody>
					<!-- Robo C2 -->
					<!--   AC Power Adapter -->
					<tr>
						<a name="robo-c2-power-adapter"></a>
						<th scope="row" rowspan="38">Robo&nbsp;C2</th>
						<td rowspan="2">AC Power adapter</td>
						<td>Replacement 19V 90W 4.74A power adapter, same specifications as original (Gateway, Asus, Acer laptops - 5.5mm OD, 2.5mm ID, positive tip)</td>
						<td class="text-right">$9.40</td>
						<td class="text-center"><a href="https://www.laptopchargerfactory.com/acer-partnumber-laptop-charger/adp90sb-bb?gclid=EAIaIQobChMI_o3c1afV1gIVTpF-Ch2ULw1LEAQYASABEgJLXfD_BwE" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Replacement 24V 150W 6.25A power adapter, better specifications than original (5.5mm OD, 2.5mm ID, positive tip)</td>
						<td class="text-right">$33.99</td>
						<td class="text-center"><a href="https://www.amazon.com/gp/product/B01N29EUDJ/ref=as_li_ss_tl?ie=UTF8&psc=1&linkCode=sl1&tag=teslatap-20&linkId=a71e432c860c922cbe3082cb1f263819" target="_blank">Link</a></td>
					</tr>

					<!--   Print bed -->
					<tr>
						<a name="robo-c2-print-bed"></a>
						<td rowspan="5">Print bed</td>
						<td>Replacement print bed (unheated), includes magnets (0.5" OD)</td>
						<td class="text-right">$19.95</td>
						<td class="text-center"><a href="https://store.robo3d.com/products/prntbedc2" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Bed replacement tape square sheets, black - 10 pack</td>
						<td class="text-right">$9.99</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/c2-bed-replacement-sheets-10-pack" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Print bed magnets, 0.5" OD - 2 pack</td>
						<td class="text-right">$1.99</td>
						<td class="text-center"><a href="https://www.servocity.com/0-500-diameter-magnet-north" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Shoulder nut for print bed magnets (unsourced)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Hex screw for shoulder nuts (unsourced)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>

					<!--   Hotend, steppers, belts -->
					<tr>
						<a name="robo-c2-hotend"></a>
						<td rowspan="17">Hotend(s), extruder(s), upper carriage assembly, steppers and belts</td>
						<td>Hexagon hotend assembly 1.75mm 19V, includes 0.4mm nozzle, thermistor and cable (same for either left/right slot)</td>
						<td class="text-right">$39.99</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/hotend-c2" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Left belt X, (directly connected to X stepper)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Upper belt X, (left-to-right across back of printer)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Right belt Y, (directly connected to Y stepper)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Upper left belt Y, (front-to-back across left side of printer)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Upper right belt Y, (front-to-back across right side of printer)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Stepper motor A/B (1 of 2)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Bowden NEMA 17 stepper motor for extruder 2A, 4 lead 40mm, 1.8&deg; step angle (for optional second extruder or to replace original)</td>
						<td class="text-right">$12.99</td>
						<td class="text-center"><a href="https://www.amazon.com/Stepper-Motor-Bipolar-64oz-Printer/dp/B00PNEQI7W" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Extruder hobbed gear/pulley 5mm shaft 1.75mm filament quantity two (for optional second extruder or to replace original)</td>
						<td class="text-right">$8.99</td>
						<td class="text-center"><a href="https://www.amazon.com/gp/product/B019Q6ALLQ/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Extruder filament brass tube fitting 4mm OD M6x1 male (for optional second extruder)</td>
						<td class="text-right">$8.84</td>
						<td class="text-center"><a href="https://www.amazon.com/gp/product/B0065RQC1S/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D V6 replacement part - threaded bowden coupling (similar to row above)</td>
						<td class="text-right">$5.99</td>
						<td class="text-center"><a href="https://printedsolid.com/products/e3d-v6-replacement-parts?variant=4033132931" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>PTFE bowden tube for 1.75mm filament 4mm OD 2mm ID (for either extruder)</td>
						<td class="text-right">$6.25</td>
						<td class="text-center"><a href="https://www.amazon.com/Meters-Teflon-Bowden-Filament-2-0mm/dp/B01CUPV9KC" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D V6 replacement part - 100mm bowden tubing (similar to row above)</td>
						<td class="text-right">$3.00</td>
						<td class="text-center"><a href="https://printedsolid.com/products/e3d-v6-replacement-parts?variant=4241435267" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>JST-EH plug 2 POS with 18AWG 15cm red/black cable (for either extruder)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Part fan (1 of 2)</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Upper fan</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>E3D hardened steel nozzle - 1.75mm filament, 0.4mm nozzle (select filament/nozzle size on page)</td>
						<td class="text-right">$25.00</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/e3dhardenednozzle?variant=7434731715" target="_blank">Link</a></td>
					</tr>

					<!--   Underneath -->
					<tr>
						<a name="robo-c2-underneath"></a>
						<td rowspan="9">Everything under the trap door</td>
						<td>Raspberry Pi 3 single board computer</td>
						<td class="text-right">$35.00</td>
						<td class="text-center"><a href="https://www.adafruit.com/product/3055" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>8GB microSD card (original is 4GB)</td>
						<td class="text-right">$9.95</td>
						<td class="text-center"><a href="https://www.adafruit.com/product/2692" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>16GB microSD card (original is 4GB)</td>
						<td class="text-right">$9.95</td>
						<td class="text-center"><a href="http://www.frys.com/product/8654990?site=sr:SEARCH:MAIN_RSLT_PG" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Aluminum heat sink for Raspberry Pi 3 (15mm x 15mm x 15mm)</td>
						<td class="text-right">$1.95</td>
						<td class="text-center"><a href="https://www.adafruit.com/product/3082" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Aluminum heat sink for Raspberry Pi 3 (14mm x 14mm x 8mm)</td>
						<td class="text-right">$1.50</td>
						<td class="text-center"><a href="https://www.adafruit.com/product/3083" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Aluminum heat sink for Raspberry Pi 3 (13mm x 13mm x 3mm)</td>
						<td class="text-right">$0.95</td>
						<td class="text-center"><a href="https://www.adafruit.com/product/3084" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Robo (RAMPS) Board</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Lower fan</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>5.08mm pitch 2 POS terminal block plugs, quantity twenty (for optional second extruder)</td>
						<td class="text-right">$9.86</td>
						<td class="text-center"><a href="https://www.amazon.com/gp/product/B00GWF65WY" target="_blank">Link</a></td>
					</tr>

					<!--   Panels -->
					<tr>
						<a name="robo-c2-panels"></a>
						<td rowspan="5">Panels, LCD</td>
						<td>LCD</td>
						<td class="text-right">N/A</td>
						<td class="text-center">N/A</td>
					</tr>
					<tr>
						<td>Pi NoIR camera v2 (8MP)</td>
						<td class="text-right">$29.95</td>
						<td class="text-center"><a href="https://www.adafruit.com/product/3100" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>18" flex ribbon cable for camera</td>
						<td class="text-right">$2.50</td>
						<td class="text-center"><a href="https://www.adafruit.com/product/1730" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Replacement JST-SM 2 POS receptacle for filament run-out sensor block</td>
						<td class="text-right">$0.17</td>
						<td class="text-center"><a href="https://www.digikey.com/product-detail/en/S2B-PH-K-S(LF)(SN)/455-1719-ND/926626?WT.mc_id=IQ_7595_G_pla926626&wt.srch=1&wt.medium=cpc&&gclid=EAIaIQobChMI0ZbGkdCR1gIVF5J-Ch2gRg_3EAQYAyABEgKh-vD_BwE" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Replacement microswitch for filament run-out sensor block (1 of 2)</td>
						<td class="text-right">$1.89</td>
						<td class="text-center"><a href="http://www.frys.com/product/7824549" target="_blank">Link</a></td>
					</tr>
				</tbody>
			</table>
	</div>
</div>