
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-10">
			<table class="table table-bordered table-hover table-responsive">
				<thead>
					<tr>
						<th>Printer</th>
						<th>Vendor</th>
						<th>Description</th>
						<th class="text-center">Price</th>
						<th class="text-center">Buy</th>
					</tr>
				</thead>
				<tbody>
					<!-- Robo C2 -->
					<!--   Robo3D.com -->
					<tr>
						<th scope="row" rowspan="14">Robo&nbsp;C2</th>
						<td rowspan="3">Robo3D</td>
						<td>Bed replacement sheets, black - 10 pack</td>
						<td class="text-right">$9.99</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/c2-bed-replacement-sheets-10-pack" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Print bed (unheated), magnets included</td>
						<td class="text-right">$19.95</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/prntbedc2" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Hexagon hotend assembly 1.75mm 19V</td>
						<td class="text-right">$39.99</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/hotend-c2" target="_blank">Link</a></td>
					</tr>
					<!--   Adafruit.com -->
					<tr>
						<td rowspan="2">Adafruit</td>
						<td>Raspberry Pi NoIR Camera Board v2 - 8 Megapixels</td>
						<td class="text-right">$29.95</td>
						<td class="text-center"><a href="https://www.adafruit.com/product/3100" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Flex Cable for Raspberry Pi Camera - 18" / 457mm</td>
						<td class="text-right">$2.59</td>
						<td class="text-center"><a href="https://www.adafruit.com/product/1730" target="_blank">Link</a></td>
					</tr>
					<!--   Digikey.com -->
					<tr>
						<td rowspan="1">Digi-Key</td>
						<td>JST connector, 2 pin, receptacle</td>
						<td class="text-right">$0.17</td>
						<td class="text-center"><a href="https://www.digikey.com/product-detail/en/S2B-PH-K-S(LF)(SN)/455-1719-ND/926626?WT.mc_id=IQ_7595_G_pla926626&wt.srch=1&wt.medium=cpc&&gclid=EAIaIQobChMI0ZbGkdCR1gIVF5J-Ch2gRg_3EAQYAyABEgKh-vD_BwE" target="_blank">Link</a></td>
					</tr>
					<!--   PrintedSolid.com -->
					<tr>
						<td rowspan="7">PrintedSolid</td>
						<td>E3D hardened steel nozzle - 1.75mm filament, 0.4mm nozzle (select filament/nozzle size on page)</td>
						<td class="text-right">$25.00</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/e3dhardenednozzle?variant=7434731715" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>NEMA17 stepper motor</td>
						<td class="text-right">$16.00</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/stepper-motor" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D V6 replacement part - threaded bowden coupling</td>
						<td class="text-right">$5.99</td>
						<td class="text-center"><a href="https://printedsolid.com/products/e3d-v6-replacement-parts?variant=4033132931" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D V6 replacement part - bowden collet</td>
						<td class="text-right">$3.00</td>
						<td class="text-center"><a href="https://printedsolid.com/products/e3d-v6-replacement-parts?variant=44053298892" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D V6 replacement part - groove mount bowden adapter</td>
						<td class="text-right">$10.99</td>
						<td class="text-center"><a href="https://printedsolid.com/products/e3d-v6-replacement-parts?variant=4241479939" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D V6 replacement part - 100mm bowden tubing</td>
						<td class="text-right">$3.00</td>
						<td class="text-center"><a href="https://printedsolid.com/products/e3d-v6-replacement-parts?variant=4241435267" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D V6 replacement part - nickel-plated copper alloy heater block</td>
						<td class="text-right">$29.99</td>
						<td class="text-center"><a href="https://printedsolid.com/products/e3d-v6-replacement-parts?variant=4033133635" target="_blank">Link</a></td>
					</tr>
					<!--   ServoCity.com -->
					<tr>
						<td rowspan="1">ServoCity</td>
						<td>Print bed magnet, 0.5" OD - 2 pack</td>
						<td class="text-right">$1.99</td>
						<td class="text-center"><a href="https://www.servocity.com/0-500-diameter-magnet-north" target="_blank">Link</a></td>
					</tr>
	
					<!-- Robo R2 -->
					<!--   Robo3D.com -->
					<tr>
						<th scope="row" rowspan="1">Robo&nbsp;R2</th>
						<td rowspan="1">Robo3D</td>
						<td>No parts offered on their store yet</td>
						<td class="text-right">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
					</tr>
						
					<!-- Robo R1 -->
					<!--   Robo3D.com -->
					<tr>
						<th scope="row" rowspan="15">Robo&nbsp;R1/R1+</th>
						<td rowspan="6">Robo3D</td>
						<td>Hexagon hotend full 1.75mm</td>
						<td class="text-right">$39.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/hexagon-hotend-full" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Heated borosilicate glass print bed, magnets included</td>
						<td class="text-right">$59.99</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/hotend-c2" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Cooling fan For hotend, 25mm</td>
						<td class="text-right">$5.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/hex-fan" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Arduino + RAMPS Shield 1.4 Full electronics control board</td>
						<td class="text-right">$96.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/ramps-1-4" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Arduino Mega 2560</td>
						<td class="text-right">$45.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/robo-3d-arduino-mega-2560" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Stepper driver assembly, 0.35V, with heatshink</td>
						<td class="text-right">$10.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/r1-stepperdriver-0-35v-assembly" target="_blank">Link</a></td>
					</tr>
					<!--   PrintedSolid.com -->
					<tr>
						<td rowspan="9">PrintedSolid</td>
						<td>Upgrade kit - E3D V6 direct drive hot end kit 1.75mm with fan/thermistor and Smart LCD Controller XXL with SD card reader and 4GB card (requires parts to be printed)</td>
						<td class="text-right">$134.00</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/robo3d-upgrade-bundle" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D V6 direct drive hot end kit 1.75mm with fan/thermistor</td>
						<td class="text-right">$71.99</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/e3d-hot-end-kit-v6" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D Titan extruder - 1.75mm and 3.0mm compatible (requires a bracket to be printed)</td>
						<td class="text-right">$66.99</td>
						<td class="text-center"><a href="" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D hardened steel nozzle - 1.75mm filament, 0.4mm nozzle (select filament/nozzle size on page)</td>
						<td class="text-right">$25.00</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/e3dhardenednozzle?variant=7434731715" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D silicone sock upgrade package</td>
						<td class="text-right">$26.99</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/e3d-silicone-sock-upgrade-package" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D silicone socks multipack - 6</td>
						<td class="text-right">$11.99</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/e3d-silicone-socks-3-pack?variant=34942268556" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D volcano add-on</td>
						<td class="text-right">$53.00</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/e3d-volcano-add-on" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>NEMA17 stepper motor</td>
						<td class="text-right">$16.00</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/accessories-and-upgrades/products/stepper-motor" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>E3D full bowden upgrade bundle (Titan, stepper, bowden adapter, tube, E3D V6)</td>
						<td class="text-right">$164.99</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/bundles/products/e3d-full-bowden-upgrade-bundle" target="_blank">Link</a></td>
					</tr>
				</tbody>
			</table>
	</div>
</div>