
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-10">
			<table class="table table-bordered table-hover table-responsive">
				<thead>
					<tr>
						<th>Printer</th>
						<th>Vendor</th>
						<th>Description</th>
						<th class="text-center">Price</th>
						<th class="text-center">Buy</th>
					</tr>
				</thead>
				<tbody>
					<!-- Robo C2 -->
					<!--   Robo3D.com -->
					<tr>
						<th scope="row" rowspan="4">Robo C2</th>
						<td rowspan="3">Robo3D.com</td>
						<td>Bed replacement sheets, black - 10 pack</td>
						<td class="text-right">$9.99</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/c2-bed-replacement-sheets-10-pack" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Print bed (unheated), magnets included</td>
						<td class="text-right">$19.95</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/prntbedc2" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Hexagon hotend assembly 1.75mm 19V</td>
						<td class="text-right">$39.99</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/hotend-c2" target="_blank">Link</a></td>
					</tr>
					<!--   ServoCity.com -->
					<tr>
						<td rowspan="1">ServoCity</td>
						<td>Print bed magnet, 0.5" OD - 2 pack</td>
						<td class="text-right">$1.99</td>
						<td class="text-center"><a href="https://www.servocity.com/0-500-diameter-magnet-north" target="_blank">Link</a></td>
					</tr>

					<!-- Robo R2 -->
					<!--   Robo3D.com -->
					<tr>
						<th scope="row" rowspan="1">Robo R2</th>
						<td rowspan="1">Robo3D.com</td>
						<td>No parts offered on their store yet</td>
						<td class="text-right">&nbsp;</td>
						<td class="text-center">&nbsp;</td>
					</tr>
						
					<!-- Robo R1 -->
					<!--   Robo3D.com -->
					<tr>
						<th scope="row" rowspan="6">Robo R1/R1+</th>
						<td rowspan="6">Robo3D.com</td>
						<td>Hexagon hotend full 1.75mm</td>
						<td class="text-right">$39.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/hexagon-hotend-full" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Heated borosilicate glass print bed, magnets included</td>
						<td class="text-right">$59.99</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/hotend-c2" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Cooling fan For hotend, 25mm</td>
						<td class="text-right">$5.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/hex-fan" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Arduino + RAMPS Shield 1.4 Full electronics control board</td>
						<td class="text-right">$96.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/ramps-1-4" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Arduino Mega 2560</td>
						<td class="text-right">$45.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/robo-3d-arduino-mega-2560" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Stepper driver assembly, 0.35V, with heatshink</td>
						<td class="text-right">$10.00</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/parts/products/r1-stepperdriver-0-35v-assembly" target="_blank">Link</a></td>
					</tr>
				</tbody>
			</table>
	</div>
</div>