
<!-- Example row of columns -->
<div class="row">
	<div class="col-md-10">
			<table class="table table-bordered table-hover table-responsive">
				<thead>
					<tr>
						<th>Type</th>
						<th>Vendor</th>
						<th>Description</th>
						<th>Sample</th>
						<th>Diameter</th>
						<th>Weight</th>
						<th>Range</th>
						<th>Req's<br/>heated<br/>bed</th>
						<th>Sugg'd<br/>hardened<br/>nozzle</th>
						<th>Sugg'd<br/>larger<br/>nozzle</th>
						<th class="text-center">Price&nbsp;/<br/>$/g</th>
						<th class="text-center">Buy</th>
					</tr>
				</thead>
				<tbody>
					<!-- PLA -->
					<!--   Robo3D.com -->
					<tr>
						<th scope="row" rowspan="21">PLA</th>
						<td rowspan="21">Robo3D</td>
						<td rowspan="2">Jet Black</td>
						<td rowspan="2"><img src="/images/filament/samples/robo-pla-jet-black.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td><nobr>195-225ºC</nobr></td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$20.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/pla-jet-black-500g" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/black-pla-1kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Arctic White</td>
						<td><img src="/images/filament/samples/robo-pla-arctic-white.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$20.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/pla-arctic-white-500g" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>White</td>
						<td><img src="/images/filament/samples/robo-pla-white.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/white-pla-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Cool Mid-Gray</td>
						<td><img src="/images/filament/samples/robo-pla-cool-midgray.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$20.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/pla-cool-mid-gray-500g" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Metallic Silver</td>
						<td><img src="/images/filament/samples/robo-pla-metallic-silver.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/grey-pla-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Dynamic Blue</td>
						<td><img src="/images/filament/samples/robo-pla-dynamic-blue.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$20.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/pla-dynamic-blue-500g" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Blue</td>
						<td><img src="/images/filament/samples/robo-pla-blue.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/blue-pla-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Coral Blue</td>
						<td><img src="/images/filament/samples/robo-pla-coral-blue.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/coral-blue" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Chocolate Brown</td>
						<td><img src="/images/filament/samples/robo-pla-chocolate-brown.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/chocolate-brown" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Apple Green</td>
						<td><img src="/images/filament/samples/robo-pla-apple-green.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$20.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/pla-apple-green-500g" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Green</td>
						<td><img src="/images/filament/samples/robo-pla-green.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$17.50<br/>$0.0175</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/green-pla-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Marine Green</td>
						<td><img src="/images/filament/samples/robo-pla-marine-green.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/marine-green-pla" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Glow-in-the-dark Green</td>
						<td><img src="/images/filament/samples/robo-pla-glow-green.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$20.00<br/>$0.02</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/glow-in-the-dark-green-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Orange</td>
						<td><img src="/images/filament/samples/robo-pla-orange.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$17.50<br/>$0.0175</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/orange-pla-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Pink</td>
						<td><img src="/images/filament/samples/robo-pla-pink.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$17.50<br/>$0.0175</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/pla-pink-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Pearl Purple</td>
						<td><img src="/images/filament/samples/robo-pla-pearl-purple.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$40.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/new-pearl-purple-pla" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Fiery Red</td>
						<td><img src="/images/filament/samples/robo-pla-fiery-red.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$20.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/pla-fiery-red-500g" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Strawberry Smellament (scented)</td>
						<td><img src="/images/filament/samples/robo-pla-strawberry-smellament.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$20.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/strawberry-smellament-pla" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Yellow</td>
						<td><img src="/images/filament/samples/robo-pla-yellow.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$17.50<br/>$0.0175</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/yellow-pla-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Translucent Yellow</td>
						<td><img src="/images/filament/samples/robo-pla-translucent-yellow.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-pla/products/translucent-yellow-pla" target="_blank">Link</a></td>
					</tr>

					<!-- Specialty PLA -->
					<!--   Robo3D.com -->
					<tr>
						<th scope="row" rowspan="7">Specialty PLA</th>
						<td rowspan="5">Robo3D</td>
						<td rowspan="2">Black with 15% carbon-fiber infused</td>
						<td rowspan="2"><img src="/images/filament/samples/robo-pla-carbon-fiber.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>Yes</td>
						<td>No</td>
						<td class="text-right">$40.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-exotic/products/pla-carbon-500g" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>Yes</td>
						<td>No</td>
						<td class="text-right">$40.00<br/>$0.04</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-exotic/products/carbon-fiber-pla-500g" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td rowspan="2">Light brown with wood dust—infused</td>
						<td rowspan="2"><img src="/images/filament/samples/robo-pla-wood.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>Yes</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-exotic/products/pla-wood-500g" target="_blank">Link</a></td>
					</tr>
          <tr>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>No</td>
						<td>Yes</td>
						<td class="text-right">$29.99<br/>$0.03</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-exotic/products/natural-wood-pla" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Metallic gold with metal flakes—infused</td>
						<td><img src="/images/filament/samples/robo-pla-metallic-gold.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td>195-225ºC</td>
						<td>No</td>
						<td>Yes</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-exotic/products/pla-gold-metallic-500g" target="_blank">Link</a></td>
					</tr>
					<!--   PrintedSolid -->
					<tr>
						<td rowspan="2">PrintedSolid (Proto-Pasta)</td>
						<td>Magnetic Iron</td>
						<td><img src="/images/filament/samples/ps-pla-magnetic-iron.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td><nobr>190-230ºC</nobr></td>
						<td>No</td>
						<td>Yes</td>
						<td>No</td>
						<td class="text-right">$37.00<br/>$0.074</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/magnetic-iron-pla" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Conductive Graphite (30 &ohm;-cm = 30&ohm; thru 1cm<sup>3</sup>)</td>
						<td><img src="/images/filament/samples/ps-pla-conductive-graphite.png"></td>
						<td>1.75mm</td>
						<td>500g</td>
						<td><nobr>215-230ºC</nobr></td>
						<td>No</td>
						<td>Yes</td>
						<td>No</td>
						<td class="text-right">$49.99<br/>$0.1</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/conductive-pla" target="_blank">Link</a></td>
					</tr>

					<!-- PLA/PHA -->
					<!--   PrintedSolid -->
					<tr>
						<th scope="row" rowspan="25">PLA/PHA</th>
						<td rowspan="25">PrintedSolid (ColorFabb)</td>
						<td>Standard Black</td>
						<td><img src="/images/filament/samples/ps-plapha-standard-black.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td><nobr>195-220ºC</nobr></td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561795" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Standard White</td>
						<td><img src="/images/filament/samples/ps-plapha-standard-white.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561859" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Blue Gray</td>
						<td><img src="/images/filament/samples/ps-plapha-blue-gray.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737383235" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Bluish White</td>
						<td><img src="/images/filament/samples/ps-plapha-bluish-white.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737560387" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Natural</td>
						<td><img src="/images/filament/samples/ps-plapha-natural.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561283" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Shining Silver</td>
						<td><img src="/images/filament/samples/ps-plapha-shining-silver.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561603" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Pale Gold</td>
						<td><img src="/images/filament/samples/ps-plapha-pale-gold.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561539" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Olypmic Gold</td>
						<td><img src="/images/filament/samples/ps-plapha-olympic-gold.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561411" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Greenish Beige</td>
						<td><img src="/images/filament/samples/ps-plapha-greenish-beige.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737560707" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Sky Blue</td>
						<td><img src="/images/filament/samples/ps-plapha-sky-blue.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561731" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Ultra Marine Blue</td>
						<td><img src="/images/filament/samples/ps-plapha-ultra-marine-blue.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561987" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Chocolate Brown</td>
						<td><img src="/images/filament/samples/ps-plapha-chocolate-brown.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737560451" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Light Brown</td>
						<td><img src="/images/filament/samples/ps-plapha-light-brown.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737560963" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Leaf Green</td>
						<td><img src="/images/filament/samples/ps-plapha-leaf-green.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737560835" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Intense Green</td>
						<td><img src="/images/filament/samples/ps-plapha-intense-green.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737560771" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Olive Green</td>
						<td><img src="/images/filament/samples/ps-plapha-olive-green.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561347" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Fluorescent Green</td>
						<td><img src="/images/filament/samples/ps-plapha-fluorescent-green.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737560579" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Lilac</td>
						<td><img src="/images/filament/samples/ps-plapha-lilac.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561027" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Magenta</td>
						<td><img src="/images/filament/samples/ps-plapha-magenta.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561091" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Dutch Orange</td>
						<td><img src="/images/filament/samples/ps-plapha-dutch-orange.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737560515" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Fluorescent Pink</td>
						<td><img src="/images/filament/samples/ps-plapha-fluorescent-pink.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737560643" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Warm Red</td>
						<td><img src="/images/filament/samples/ps-plapha-warm-red.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737562051" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Traffic Red</td>
						<td><img src="/images/filament/samples/ps-plapha-traffic-red.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561923" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Mint Turquoise</td>
						<td><img src="/images/filament/samples/ps-plapha-mint-turquoise.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561219" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Signal Yellow</td>
						<td><img src="/images/filament/samples/ps-plapha-signal-yellow.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td>195-220ºC</td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$38.99<br/>$0.052</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-pla-pha-1-75mm?variant=2737561667" target="_blank">Link</a></td>
					</tr>

					<!-- ABS -->
					<!--   Robo3D.com -->
					<tr>
						<th scope="row" rowspan="5">ABS</th>
						<td rowspan="5">Robo3D</td>
						<td>Arctic White</td>
						<td><img src="/images/filament/samples/robo-abs-arctic-white.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>225-250ºC</td>
						<td>Yes</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-abs/products/white-abs-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Green</td>
						<td><img src="/images/filament/samples/robo-abs-green.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>225-250ºC</td>
						<td>Yes</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$35.00<br/>$0.035</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-abs/products/green-abs-1-kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Glow-in-the-dark Green</td>
						<td><img src="/images/filament/samples/robo-abs-glow-green.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>225-250ºC</td>
						<td>Yes</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$20.00<br/>$0.02</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-abs/products/glow-in-the-dark-green-abs-1-kg" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Pink</td>
						<td><img src="/images/filament/samples/robo-abs-pink.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>225-250ºC</td>
						<td>Yes</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$17.50<br/>$0.0175</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-abs/products/pink-abs-1kg-spool" target="_blank">Link</a></td>
					</tr>
					<tr>
						<td>Purple</td>
						<td><img src="/images/filament/samples/robo-abs-purple.png"></td>
						<td>1.75mm</td>
						<td>1kg</td>
						<td>225-250ºC</td>
						<td>Yes</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$17.50<br/>$0.0175</td>
						<td class="text-center"><a href="https://store.robo3d.com/collections/filament-abs/products/purple-abs-1kg-spool" target="_blank">Link</a></td>
					</tr>

					<!-- XT -->
					<!--   PrintedSolid -->
					<tr>
						<th scope="row" rowspan="1">XT</th>
						<td rowspan="1">PrintedSolid (ColorFabb)</td>
						<td>Clear</td>
						<td><img src="/images/filament/samples/ps-xt-clear.png"></td>
						<td>1.75mm</td>
						<td>750g</td>
						<td><nobr>230-260ºC</nobr></td>
						<td>No</td>
						<td>No</td>
						<td>No</td>
						<td class="text-right">$46.00<br/>$0.06</td>
						<td class="text-center"><a href="https://printedsolid.com/collections/1-75mm-filament/products/colorfabb-xt-clear" target="_blank">Link</a></td>
					</tr>

				</tbody>
			</table>
	</div>
</div>